html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blue-palette {
    background-color:midnightblue !important;
}

.custom-card {
    color: black;
    margin: 20px;
    outline: solid 2px rgb(255, 189, 240);
    border-radius: 1rem;
    background-image: url(../lib/img/money-vec.png);
    background-repeat: no-repeat;
    font-weight: bold !important;
}

    .custom-card:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgb(25, 25, 112, 0,99);
        color: white;
        outline: solid 3px black;
        filter: brightness(1.1);
    }
}