<h1>Error creating expense</h1>

<h2>Error trace: @ViewBag.Exception</h2>

<form asp-controller="Expenses" asp-action="Index" method="post">
    <button type="submit" class="btn btn-secondary">Back</button>
</form>
