@using System.Text.Json
@using TinkerAppProject.Models.Charting
@model ChartResponse

@{
    ViewData["Title"] = "Generate Chart";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>Your @Model.LabelType.ToString() @Model.Type.ToString() chart</h1>

@{    
    switch (Model.Type.ToString())
    {
        case "Bar":
            <div class="row">
                <div class="col" style="max-height: 300px;">
                    <canvas id="barChart"></canvas>
                </div>                
            </div>
            <script>
                const bar = document.getElementById('barChart');
                var model = @Html.Raw(JsonSerializer.Serialize(Model));
                new Chart(bar, {
                    type: 'bar',
                    data: {
                        labels: model.Labels,
                        datasets: [{
                            label: '# of '+model.LabelType,
                            data: model.Dataset,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
            break;
        case "Doughnut":
            <div class="row">               
                <div class="col" style="max-height: 300px;">
                    <canvas id="donutChart"></canvas>
                </div>                
            </div>
            <script>
                const donut = document.getElementById('donutChart');
                var model = @Html.Raw(JsonSerializer.Serialize(Model));
                new Chart(donut, {
                    type: 'doughnut',
                    data: {
                        labels: model.Labels,
                        datasets: [{
                            label: model.LabelType,
                            data: model.Dataset,
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    },
                });
            </script>
            break;
        case "Radar":
            <div class="row">               
                <div class="col" style="max-height: 300px">
                    <canvas id="radarChart"></canvas>
                </div>
            </div>
            <script>
                const radar = document.getElementById('radarChart');
                new Chart(radar, {
                    type: 'radar',
                    data: {
                        labels: [
                            'Eating',
                            'Drinking',
                            'Sleeping',
                            'Designing',
                            'Coding',
                            'Cycling',
                            'Running'
                        ],
                        datasets: [{
                            label: 'My First Dataset',
                            data: [65, 59, 90, 81, 56, 55, 40],
                            fill: true,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgb(255, 99, 132)',
                            pointBackgroundColor: 'rgb(255, 99, 132)',
                            pointBorderColor: '#fff',
                            pointHoverBackgroundColor: '#fff',
                            pointHoverBorderColor: 'rgb(255, 99, 132)'
                        }, {
                            label: 'My Second Dataset',
                            data: [28, 48, 40, 19, 96, 27, 100],
                            fill: true,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgb(54, 162, 235)',
                            pointBackgroundColor: 'rgb(54, 162, 235)',
                            pointBorderColor: '#fff',
                            pointHoverBackgroundColor: '#fff',
                            pointHoverBorderColor: 'rgb(54, 162, 235)'
                        }]
                    },
                    options: {
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        }
                    },
                });
            </script>
            break;
        default:
            <script>

            </script>
            break;
    }
}