@using TinkerAppProject.Models.Charting
@model ChartModel

@{
    ViewData["Title"] = "Chart Index";
}

<!DOCTYPE html>
<html>
<body>
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("GenerateChart", "Charting"))
            {
                <div class="form-floating mb-3">
                    <p>Chart type: </p>
                    @Html.DropDownListFor(c => c.Type, Enum.GetValues(typeof(ChartTypeEnum)).Cast<ChartTypeEnum>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }))
                </div>
                <div class="form-floating mb-3">
                    <button class="btn btn-primary" type="submit">Generate</button>
                </div>
            }
        </div>
    </div>    
</body>
</html>